.navbar-telepatia {
  padding-top: 30px;

  .navbar-nav {
    li {
      padding-left: 50px;
    }

    .nav-link {
      color: $navy;
      font-weight: map-get($font-weight, regular); //style 1
    }

    .active {
      color: $purple !important;
      font-weight: map-get(
        $map: $font-weight,
        $key: medium
      ) !important; //style 2
    }
  }
}

section.sales {
  padding-top: 80px;
  .copywriting {
    margin: 0 auto;
    a {
      margin-top: 20px;
    }
  }

  .partner-brand {
    margin-top: 70px;
  }
}

section.pricing {
  margin-top: 70px;
  padding: 70px 0 70px;
  background-color: $lilpur;

  .master-card {
    margin-top: 50px;
    padding: 30px;
    border-radius: 22px;

    .title {
      color: $navy;
      font-size: 18px;
      margin-bottom: 16px;
      font-weight: map-get($map: $font-weight, $key: medium);
    }

    .header {
      font-size: 36px;
      margin: 0;
    }

    .description {
      line-height: 24px;
      font-size: 16px;
      margin-top: 0px;
      margin-bottom: 40px;
    }

    .benefit-list {
      list-style-type: none;
      padding: 0;
    }
  }

  .basic-card {
    @extend .master-card;
    background-color: $white;
    color: $navy;
  }

  .popular-card {
    @extend .master-card;
    background-color: $purple;
    color: $white;

    .header,
    .title {
      color: $white !important;
    }

    .description {
      color: #b19fff;
    }
  }

  .benefit-list {
    margin-bottom: 40px;
    li {
      font-size: 16px;
      font-weight: map-get($map: $font-weight, $key: medium);
      margin-bottom: 20px;
    }
  }
}
