.btn-master {
  padding: 15px 40px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: map-get($map: $font-weight, $key: semi-bold);
  border: 0;
}

.btn-primary {
  @extend .btn-master;
  background-color: $purple !important;
}

.btn-secondary {
  @extend .btn-master;
  background-color: $secondary-color !important;
  color: $darpur !important;
}
